!!com.hedera.he2poc.common.yamlconfig.YamlConfig
api: {apiKey: api_key, apiPort: 8080, apiVerticleCount: 1, httpsCertificate: '', httpsKeyOrPass: ''}
demoHotspots: []
hotspots: []
oracle: {epochSeconds: 10, minEpochReports: 2, minWitnessReports: 1}
reportInterval: 10000
system: {initialHotspotBalance: 2}
token: {}