!!com.hedera.yamlconfig.YamlConfig
api: {
    apiKey: api_key,
    apiPort: 8080,
    apiVerticleCount: 1,
    httpsCertificate: '',
    httpsKeyOrPass: ''
}
hotspotsSimulator: true
hotspotsToStart: 1
oracle: {enabled: true, epochSeconds: 10, minEpochReports: 2, minWitnessReports: 1}
reportInterval: 10000
